/*------Variables------*/

/*fonts*/
$font-primary : 'Montserrat', sans-serif;
$font-secondary: 'Poppins', sans-serif;
$font-third: 'Roboto', sans-serif;
$font-fourth: 'Open Sans', sans-serif;
/*Colors*/
$color-first: #fff;
$color-second: #ededed;
$text-color: #706f6f;
$primary-pink: #ed1459;



/*------------------*/
/*----Reset CSS-----*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
    font-size: 100%;
    font-family: $font-secondary;
    vertical-align: baseline;
    scroll-behavior: smooth;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button{
    width: max-content;
}
img{
    width: 100%;
}
p, h1, h2, h3, h4, h5, h6{
    color: $text-color;
}
/*------------------------------------*/

/*------fonts-------*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
/*------------------*/

// Loader
#loader{
    width: 100%;
    height: 100%;
    background: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
}
#loader img{
    width: 50px;
}

/*Button*/
.butn{
    padding: 10px 25px;
    transition: all ease 0.5s;
    border: none;   
    &--primary{
        background-color: #ffb400;
        color: white;
        font-weight: bold;
        border-radius: 20px;
        box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.13);
        &:hover{
            background-color: $primary-pink;
        }
        &:active{
            background: #ffb400;
        }
    }
    &--secondary{
        background-color: $primary-pink;
        color: $color-first;
        
        &:hover{
            background: #ffb400;
        }
        &:active{
            background-color: $primary-pink
        }
    }
    &--third{
        background: $primary-pink;
        color: $color-first;
        &:hover{
            box-shadow: 0px 0px 10px 2px #eee;
            background: $color-first;
            color: $primary-pink;
        }
    }
}
/*-------*/
html{
    font: {
        size: 0.9em;
    }
}
.row.reverse{
    flex-direction: row-reverse;
}
/*-------Header--------*/
html{
    height: 100%;
    overflow-x: hidden;
}
header{
    background: url('../assets/img/home.jpg') no-repeat bottom;
    background-size: cover;
    
}
.header{
    
    &-text{
        position: relative;
        margin: auto;
        grid-column: 1;
        color: $color-first;
        display: flex;
        justify-content: center;
        flex-direction: column;
        h1, p{
            color: $color-first;
        }
        h1{
            &:first-child{
                font: {
                    size: 3em;
                    family: $font-secondary;
                    weight: bold;
                }
            }
            
        }
        
    }
}
.nav-container{
   .first-nav{
    .navbar-brand{
        position: relative;
        width: 30%;
        height: 60px;
        &:before{
            position: absolute;
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            background-size: contain;
        }
    }
   }
}


.navbarSticky{
    padding: 0 20px;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.6s;
    z-index: 100000;
    display: none;
    background-color: $color-first;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.171);
    
    .nav-link, .navbar-dark .navbar-toggler{
        color: $text-color !important;
        transition: 0.6s;
        &:hover{
            color: #aaa !important;
        }
        &.download-link{
            border: 2px solid #ffffff80;
        }
    }

}

.advantages{
    &-title{
        background: #fab8cd;
        width: max-content;
        padding: 7px 15px;
        border-radius: 30px;
        color: white;
        box-shadow: 0px 0px 10px 2px #eee
    }
    &-item-title{
        position: relative;
        width: max-content;
        font:{
            family: $font-fourth !important;
            weight: bold;
        }
        b{
            color: $primary-pink;
        }
        &:after{
            content: "";
            width: 30%;
            border-top: 3px solid #eee;
            display: block;
            margin: 10px 0;
        }
    }
    &-img{
        img{
            &.shadow{
                box-shadow: 0px 10px 15px -1.5px #eee;
            }
        }
    }
    
    .row{
        align-items: center;
    }
}
.about{
    background: #f5f5f5;
    min-height: 650px; 
    display: flex; 
    align-items: center;
    &-title{
        margin: 0 0 50px 0;
        b{
            font-family: $font-fourth;
            letter-spacing: -0.05em;
            &:nth-child(2){
                color: $primary-pink;
            }
        }
    }
    &-txt{
        background: $color-first;
        padding: 50px;
        box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.05);
        border-radius: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        p, h1{
            color: $text-color;
        }
        span.logo{
            align-self: flex-end;
        }
    }
    &-img{
        img{
            opacity: 0.2;
            width: 85%;
         }
    }
}
.contact{
    min-height: 700px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    &-container{
        .contact-form{
            padding: 15px !important;
            form{
                display: flex;
            }
            input, textarea{
                width: 100%;
                padding: 7px 20px;
                border: 1px solid #ddd;
                margin: 10px 0;
                border-radius: 5px;
                &:focus{
                    border-color: $primary-pink;
                    outline: none;
                    box-shadow: 0px 0px 10px  1px#eee;
                }
            }
        }
        .contact-title{
            font:{
                weight: bolder;
                family: $font-fourth;
            }
            color: $primary-pink;
            margin-bottom: 15px;
            padding: 10px;
            width: max-content;
            &:after{
                content: "";
                width: 30%;
                border-top: 3px solid #eee;
                display: block;
                margin: 10px 0;
            }
        }
        .contact-img{
            align-self: flex-end;
        }
        form{
            position: relative;
            
        }
    }    
}
footer{
    background: url('../assets/img/footer.svg') no-repeat;
    background-size: cover;
    height: 400px;
    display: flex !important;
    align-items: flex-end;
    .footer-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100%;
        &:after{
            content: "";
            display: block;
            border-top: 1px solid #ccc;
            width: 50%;
        }
        span{
            margin: 10px 0;
            button, h3{
                margin: 10px;
            }
        }
        ul{
            li{
                display: inline-block;
                font-size: 2.5em;
                margin: 10px;
                a{
                    i{
                        transition: color ease 0.5s;
                        &.fa-twitter{
                            color: #00acee; 
                            &:hover{
                                color: #33c5ff;
                            }
                        }
                        &.fa-telegram{
                            color: #0088cc;
                            &:hover{
                                color: #0fafff;
                            }
                        }
                    }
                    img{
                        width: 100px;
                    }
                }
            }
        }
    }
    .footer-copyright{
        text-align: center;
        padding: 20px 0;
    }
}

//Responsive
@media (min-width: 992px){
    header{
        background: url('../assets/img/home.png') no-repeat center;
        background-size: cover;
    }
    .header{
        display: grid;
        grid-template-columns: 1fr 1fr;
        min-height: 650px;
        &-text{
            position: relative;
            padding: 0 50px;
        }
    }
    nav{
        padding: 0 30px;
        .nav-link{
            margin: 10px;
            &.download-link{
                border: 2px solid #ffffff80;
                border-radius: 20px;
                padding: 5px 20px !important;
                background-color: transparent;
                transition: all ease 0.35s;
                &:hover{
                    background-color: #ffb400;
                    border-color: transparent;
                    color: $color-first !important;
                }
            }
        }
        .navbar-collapse{
            justify-content: flex-end;
        }
    }
    .nav-container{
        .navbar-brand{
            &:before{
                background: url('../assets/img/logo.png') no-repeat;
                background-size: contain;
            }
        }
    }
}
@media (max-width: 992px){
    header{
        background: url('../assets/img/home_small.jpg') no-repeat;
        background-size: cover;
        z-index: 1000;
    }
    .header{
        display: block;
        &-text{
            position: relative;
            padding: 50px 10px;
            text-align: center;
            button{
                margin: 0 auto;
            }
            h1{
                font-size: 1.6em;
            }
        }
    }
    nav{
        padding-right: 20px;
    }
    .first-nav{
        .navbar-brand{
            &:before{
                background: url('../assets/img/logo_w.png') no-repeat;
                background-size: contain;
            }
        }
        .navbar-collapse{
            position: absolute;
            top: 100%;
            background: rgb(8, 30, 103);
            width: 95%;
            padding: 25px;
            box-shadow: rgba(0, 0, 0, 0.29) 0px 0px 20px 1px;
            z-index: 50000;
        }
    }
    div.about-img{
        display: none;
    }
}