/*------Variables------*/

/*fonts*/
$font-primary : 'Montserrat', sans-serif;
$font-secondary: 'Poppins', sans-serif;
$font-third: 'Roboto', sans-serif;
$font-fourth: 'Open Sans', sans-serif;
/*Colors*/
$color-first: #fff;
$color-second: #ededed;
$text-color: #706f6f;
$primary-pink: #ed1459;



/*------------------*/
/*----Reset CSS-----*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
    font-size: 100%;
    font-family: $font-secondary;
    vertical-align: baseline;
    scroll-behavior: smooth;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button{
    width: max-content;
}
img{
    width: 100%;
}
p, h1, h2, h3, h4, h5, h6{
    color: $text-color;
}
/*------------------------------------*/

/*------fonts-------*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
/*------------------*/

// Loader
#loader{
    width: 100%;
    height: 100%;
    background: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
}
#loader img{
    width: 50px;
}

/*Button*/
.butn{
    padding: 10px 25px;
    transition: all ease 0.5s;
    border: none;   
    &--primary{
        background-color: #ffb400;
        color: white;
        font-weight: bold;
        border-radius: 20px;
        box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.13);
        &:hover{
            background-color: $primary-pink;
        }
        &:active{
            background: #ffb400;
        }
    }
    &--secondary{
        background-color: $primary-pink;
        color: $color-first;
        
        &:hover{
            background: #ffb400;
        }
        &:active{
            background-color: $primary-pink
        }
    }
    &--third{
        background: $primary-pink;
        color: $color-first;
        &:hover{
            box-shadow: 0px 0px 10px 2px #eee;
            background: $color-first;
            color: $primary-pink;
        }
    }
}
/*-------*/
html{
    font: {
        size: 0.9em;
    }
}
.row.reverse{
    flex-direction: row-reverse;
}
/*-------Header--------*/
html{
    height: 100%;
    overflow-x: hidden;
}
header{
    background: url('../assets/img/home.png') no-repeat center;
    background-size: cover;
    height: 100%;
}
.header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90%;
    &-text{
        position: relative;
        padding: 0 50px;
        margin: auto;
        grid-column: 1;
        color: $color-first;
        display: flex;
        justify-content: center;
        flex-direction: column;
        h1, p{
            color: $color-first;
        }
        h1{
            &:first-child{
                font: {
                    size: 3em;
                    family: $font-secondary;
                    weight: bold;
                }
            }
            &.success{
                font: {
                    family: $font-secondary;
                    weight: 100;
                }
                line-height: 0.4em;
            }
            
        }
        
    }
}
.navbarSticky{
    padding: 0 20px;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.6s;
    z-index: 100;
    display: none;
    background-color: $color-first;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.171);
    .nav-link{
        color: $text-color !important;
        transition: 0.6s;
        &:hover{
            color: #aaa !important;
        }
    }
}
@media (min-width: 992px){
    nav{
        padding: 0 30px;
        .nav-link{
            margin: 10px;
            &.download-link{
                border: 2px solid #ffffff80;
                border-radius: 20px;
                padding: 5px 20px !important;
                background-color: transparent;
                transition: all ease 0.35s;
                &:hover{
                    background-color: #ffb400;
                    border-color: transparent;
                }
            }
        }
    }
}
nav{
    
}
.navbar{
    &-collapse{
        justify-content: flex-end;
        
    }
}
.features{
    &-title{
        position: relative;
        font:{
            family: $font-fourth !important;
            weight: bold;
        }
        b{
            color: $primary-pink;
        }
        &:after{
            content: "";
            width: 30%;
            border-top: 3px solid #eee;
            display: block;
            margin: 10px 0;
        }
    }
    &-img{
        img{
            &.shadow{
                box-shadow: 0px 10px 15px -1.5px #eee;
            }
        }
    }
    
    .row{
        align-items: center;
    }
}
.about{
    background: url('../assets/img/about.svg') no-repeat; 
    background-size: cover; 
    background-position-x: -80px;
    height: 100vh; 
    margin: 60px 0 0 0; 
    display: flex; 
    align-items: center;
    &-txt{
        p, h1{
            color: white;
        }
        h1{
            font-weight: bolder;
            font-family: $font-fourth;
            font-size: 3.5em;
            letter-spacing: -0.08em;
            width: max-content;
            &:after{
                content: "";
                width: 30%;
                border-top: 3px solid white;
                display: block;
                margin: 10px 0;
            }
        }
    }
    img{
        box-shadow: 0px 3px 15px -1px rgba(0, 0, 0, 0.281);
    }
}
.contact{
    min-height: 100vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    &-container{
        .contact-form{
            padding: 15px !important;
            form{
                display: flex;
            }
            input, textarea{
                width: 100%;
                padding: 7px 20px;
                border: 1px solid #ddd;
                margin: 10px;
                border-radius: 5px;
                &:focus{
                    border-color: $primary-pink;
                    outline: none;
                    box-shadow: 0px 0px 10px  1px#eee;
                }
            }
        }
        .contact-title{
            font:{
                weight: bolder;
                family: $font-fourth;
            }
            color: $primary-pink;
            margin-bottom: 15px;
            padding: 10px;
            width: max-content;
            &:after{
                content: "";
                width: 30%;
                border-top: 3px solid #eee;
                display: block;
                margin: 10px 0;
            }
        }
        .contact-img{
            align-self: flex-end;
        }
        form{
            position: relative;
            
        }
    }    
}

.cRetour {
    border-radius:3px;
    padding:10px;
    font-size:15px;
    text-align:center;
    color:#fff;
    background: rgba(255, 179, 0, 0.582);
    z-index:99999;
    transition:all ease-in 0.2s;
    position: fixed;
    cursor: pointer;
    bottom: 1em;
    right: 20px;
    display: none;
   
  }
.cRetour:before{ content: "\25b2"; }
.cRetour:hover{
background:rgba(237, 20, 89, 0.692);
transition:all ease-in 0.2s;
}

footer{
    background: url('../assets/img/footer.svg') no-repeat;
    background-size: cover;
    height: 400px;
    display: flex !important;
    align-items: flex-end;
    .footer-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100%;
        &:after{
            content: "";
            display: block;
            border-top: 1px solid #ccc;
            width: 50%;
        }
        span{
            margin: 10px 0;
            button, h3{
                margin: 10px;
            }
        }
        ul{
            li{
                display: inline-block;
                font-size: 2.5em;
                margin: 10px;
                a{
                    i{
                        transition: color ease 0.5s;
                        &.fa-twitter{
                            color: #00acee; 
                            &:hover{
                                color: #33c5ff;
                            }
                        }
                        &.fa-telegram{
                            color: #0088cc;
                            &:hover{
                                color: #0fafff;
                            }
                        }
                    }
                    img{
                        width: 100px;
                    }
                }
            }
        }
    }
    .footer-copyright{
        text-align: center;
        padding: 20px 0;
    }
}